
@{
    ViewData["Title"] = "Annotation";
}
<div class="page-header section-dark" style="background-image: url('/assets/img/castle1.jpg')" ; width: 100%;>

    <div class="container text-center" style="color: white">
        <h1>Страница с аннотациями</h1>
    </div>
</div>

<div class="" style="background: linear-gradient(0deg, rgba(255,255,255,0.8) 0%, rgba(14,27,51,1) 100%);">

    <br />
    <br />
</div>
