
@{
    ViewData["Title"] = "Annotation";
}
    <div class="page-header section-dark" style="background-image: url('./assets/img/antoine-barres.jpg')">
        <h1>Страница с аннотациями</h1>
    </div>
