<div class="page-header section-dark" style="background-image: url('./assets/img/antoine-barres.jpg')">
    <div class="container">
        <div class="row">
            @{
                foreach (Game game in Model.AllGames)
                {
                    <div class="col-md-4 col-sm-6">
                        <div class="box">
                            <img src="@game.Image" alt="1">
                            <div class="box-content">
                                <h3 class="title">@game.Name</h3>
                                <br>
                                <span class="post">
                                    @game.Description
                                </span>
                            </div>
                            <ul class="icon">
                                <li><a asp-controller="Game" asp-action="@game.Name"><i class="fa fa-chevron-right"></i></a></li>
                                <li><a href="Annotation"><i class="fa fa-book"></i></a></li>
                            </ul>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>