@{
    ViewData["Title"] = "Home Page";
}
<div class="page-header section-dark" style="background-image: url('./assets/img/antoine-barres.jpg')">
    <div class="filter"></div>
    <div class="content-center">
        <div class="container">
            <div class="title-brand">
                <h1 class="presentation-title">Your Assistant</h1>
                <div class="fog-low">
                    <img src="./assets/img/fog-low.png" alt="">
                </div>
                <div class="fog-low right">
                    <img src="./assets/img/fog-low.png" alt="">
                </div>
            </div>
            <h2 class="presentation-subtitle text-center">Прокачай свои мозги вместе с нами!!!</h2>
        </div>
    </div>
    <div class="moving-clouds" style="background-image: url('./assets/img/clouds.png'); "></div>
    <h6 class="category category-absolute">
        Разработано и спроектировано
        <a href="https://vk.com/mk_99" target="_blank">
            Maria Krechetova
        </a>
    </h6>
</div>

<div class="page-header" style="background-color: rgba(78, 147, 148, 0.75);">

    <div class="row d-flex justify-content-center">
        <div class="col-md-5">
            <div class="section-numbers">
                <div class="numbers">
                    <h4 class="numbers-dont-lie">
                        <b>943,758</b> accounts
                    </h4>
                    <h4 class="numbers-dont-lie">
                        <b>1,708,377</b> downloads
                    </h4>
                    <h4 class="numbers-dont-lie">
                        <b>137</b> products
                    </h4>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <h2 class=" font-weight-bolder"> О неисправностях писать разработчикам</h2>
            <br />
            <form class="d-flex flex-column" action="/newsletter" accept-charset="UTF-16"
                  data-remote="true" method="post">
                <input name="utf16" type="hidden" value="✓">
                <input type="email" name="subscribe_email" id="subscribe_email"
                       class="form-control" placeholder="Опишите вашу проблему" required="required">
                <br />
                <input type="email" name="subscribe_email" id="subscribe_email"
                       class="form-control" placeholder="Введите вашу почту" required="required">
                <br />
                <button id="submitNewsletter" type="button" name="button"
                        class="btn btn-info btn-round bgColorBlue btn-primary text-center">
                    <i class="fa fa-paper-plane-o" aria-hidden="true"></i>
                    Отправить
                </button>
            </form>
        </div>
    </div>
    <script>
$(document).ready(function () {
                $("#submitNewsletter").on("click", function () { $(this).submit() })
    });
    </script>

</div>

